<h1 align="center"> Pandas Series Object Methods </h1>

In [2]:
import pandas as pd
import numpy as np
import pandas as pd

## Accessing Series elements

In [8]:
ser1 = pd.Series([1,2,3,4],index = [2,4,6,8])
print("Series 1","-"*25,ser1,sep="\n")
#array like access
print(ser1[6])
print(ser1[2])
# ser1[3] here default index cant be used for access of individual elements
ser1[0:3:2]

Series 1
-------------------------
2    1
4    2
6    3
8    4
dtype: int64
3
1

2    1
6    3
dtype: int64

In [9]:
ser2 = pd.Series([1,2,5,4],['CA', 'OR', 'NV', 'AZ'])
print("\nSeries 2","-"*25,ser2,sep="\n")
print("\n")
#accessing with actual index and default index
print(ser2['AZ'])
print(ser2[3])
ser2[0:3]

Series 2
-------------------------
CA    1
OR    2
NV    5
AZ    4
dtype: int64


4
4

CA    1
OR    2
NV    5
dtype: int64

## Adding two series

In [12]:
ser1 = pd.Series([1,2,3,4],['CA', 'OR', 'CO', 'CA'])
ser2 = pd.Series([1,2,5,4],['CA', 'NV', 'AZ','OR'])
ser3 = ser1+ser2
print(ser3)
print("\nPython tries to add values where it finds common index name, and puts NaN where indices are missing\n")

AZ    NaN
CA    2.0
CA    5.0
CO    NaN
NV    NaN
OR    6.0
dtype: float64

Python tries to add values where it finds common index name, and puts NaN where indices are missing

## Multiplying two series

In [13]:
print ("\nThe idea works even for multiplication...\n",'-'*43, sep='')
print (ser1*ser2)

The idea works even for multiplication...
-------------------------------------------
AZ    NaN
CA    1.0
CA    4.0
CO    NaN
NV    NaN
OR    8.0
dtype: float64

## Methods for timestamp series

In [4]:

tables = pd.read_html("https://www.fdic.gov/bank/individual/failed/banklist.html")
failures = tables[0]
print(failures.dtypes)
#closing date is of type obj. we need to convert to timestamp
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps

Bank Name                object
City                     object
ST                       object
CERT                      int64
Acquiring Institution    object
Closing Date             object
dtype: object

0     2020-04-03
1     2020-02-14
2     2019-11-01
3     2019-10-25
4     2019-10-25
         ...
556   2001-07-27
557   2001-05-03
558   2001-02-02
559   2000-12-14
560   2000-10-13
Name: Closing Date, Length: 561, dtype: datetime64[ns]

In [6]:
print(close_timestamps.dtype)
#df object uses dtypes
print(type(close_timestamps))
print(type(close_timestamps[0]))

datetime64[ns]
<class 'pandas.core.series.Series'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [7]:
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2017      8
2015      8
2016      5
2001      4
2019      4
2004      4
2007      3
2003      3
2020      2
2000      2
Name: Closing Date, dtype: int64

In [8]:
close_timestamps.dt.month.value_counts()

7     74
10    61
4     60
1     51
2     45
5     44
8     41
3     40
9     38
11    36
6     36
12    35
Name: Closing Date, dtype: int64

In [9]:
close_timestamps.dt.daysinmonth

0      30
1      29
2      30
3      31
4      31
       ..
556    31
557    31
558    28
559    31
560    31
Name: Closing Date, Length: 561, dtype: int64