<h1 align="center"> Working with Mongo DB </h1>

In [2]:
#install pymongo package
pip install pymongo

Collecting pymongo
  Downloading pymongo-3.10.1-cp37-cp37m-win_amd64.whl (354 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.10.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo

In [5]:
 # package which enables us to connect to the MongoDB
dbConn = pymongo.MongoClient("mongodb://localhost:27017/")  # connecting to the locally running MongoDB Instance

In [13]:
dbname='demoDB'
db = dbConn[dbname] 
# connecting to the database named demoDB present in the mongoDB

In [14]:
# show all the databases
print(dbConn.list_database_names())

['admin', 'config', 'local']

In [11]:
# check if the databse exists in mongoDB
dblist=dbConn.list_database_names() # obtaining all the database names
db_name='demoDB'
try:
    x = dblist.index(db_name)
    print("Database exists")
except ValueError:
    print ("This Databse doesn't exist")

Database exists

In [15]:
# connecting to a collection--- collections are analogous to tables
collection_name='demo'
collection=db[collection_name]  
# connectig to the collection itself present in the database.

In [14]:
# cheking if a collection exists
if collection_name in db.list_collection_names():
    print("The collection exists.")
else:
    print("The collection doesn't exist.")

The collection exists.

In [16]:
# inserting row into the collection
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'} # creating key value pairs for inserting into the DB

In [21]:
x = collection.insert_one(my_row)  # inserting record into the collection 
x

In [22]:
print(x.inserted_id) # printing the unique id for insert

5efbdf4e9c8e90ee09db0d28

In [23]:
# inserting multiple rows once
#the row values needs to be stored in a list
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]# creating key value pairs for inserting into the DB

In [24]:
# inserting records into the collection 
x = collection.insert_many(my_rows) 
x

In [25]:
# printing the unique id for insert
print(x.inserted_ids)

[ObjectId('5efbdfd89c8e90ee09db0d29'), ObjectId('5efbdfd89c8e90ee09db0d2a'), ObjectId('5efbdfd89c8e90ee09db0d2b'), ObjectId('5efbdfd89c8e90ee09db0d2c'), ObjectId('5efbdfd89c8e90ee09db0d2d')]

In [26]:
# retieving all the records from collection
result= collection.find({}) #equivalent to SELECT * FROM
result

In [27]:
result[3] #printing the third record

{'_id': ObjectId('5efbdfd89c8e90ee09db0d2b'),
 'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'}

whenever we are calling the find() method, if we have too many rows/records in the table, then we'll get too many responses for that which might overwhelm the application. To overcome this scenario, we have a way in mongoDB to have an upper limit on the number of rows returned.

It is called the **limit()** method.

In [28]:
# printing only the five rows
result_total= collection.find({}).limit(5)
for res in result_total:
    print(res)

{'_id': ObjectId('5efbdf4e9c8e90ee09db0d28'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d29'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2a'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2b'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2c'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}

In [29]:
# retrieveing some columns
result_some= collection.find({}, {'GRE Score','TOEFL Score'}).limit(5) # retrieveing two columns
# The second parameter in find() specifies which columns to choose
for res in result_some:
    print(res)

{'_id': ObjectId('5efbdf4e9c8e90ee09db0d28'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d29'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2a'), 'GRE Score': '336', 'TOEFL Score': '118'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2b'), 'GRE Score': '337', 'TOEFL Score': '118'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2c'), 'GRE Score': '334', 'TOEFL Score': '119'}

In [32]:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'334'}
# printing all the rows where GRE Score is 337
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5efbdfd89c8e90ee09db0d2c'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}

In [39]:
my_db_query={'GRE Score':{'$gt':'334'}}
# printing all the rows where GRE Score is greaterthan 330
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5efbdfd89c8e90ee09db0d29'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2a'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2b'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2d'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [35]:
# we can sort the above results as well, this has been sorted in ascending order

result_GRE= collection.find({}).sort('GRE Score')
for res in result_GRE:
    print(res)

{'_id': ObjectId('5efbdfd89c8e90ee09db0d2c'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2a'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdf4e9c8e90ee09db0d28'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d29'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2b'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2d'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [36]:
# we can sort the above results in descending order

result_GRE= collection.find({}).sort('GRE Score',-1)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5efbdf4e9c8e90ee09db0d28'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d29'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2b'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2d'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2a'), 'Serial No': '9996', 'GRE Score': '336', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '0', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5efbdfd89c8e90ee09db0d2c'), 'Serial No': '9994', 'GRE Score': '334', 'TOEFL Score': '119', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.92'}

In [37]:
# Deleting records from mongo DB:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}
x=collection.delete_one(my_db_query) # the deletion step
print(x.deleted_count)

1

We have succesfully deleted one row/record from the collection.

Similarly, for deleting multiple rows, we can use **collection.delete_many(my_deb_query)**

For deleting all documents of a collection, we can use **collection.delete_many({})**

In [38]:
# For dropping an entire collection
collection_to_drop=db['test_collection'] # drops the entire collection named 'test collection'
collection_to_drop.drop()

In [41]:
# updating the values present in collection

update_criteria={'GRE Score':'334'}
new_values= { "$set": { "GRE Score": "350" } }

x = collection.update_many(update_criteria, new_values)

print(x.modified_count)

1

We have updated the nine columns with GRE Score 340 with GRE Score 350.

Similarly, we can update only one row by using the function **update_one(update_criteria, new_values)**